@import '../../styles/variables.scss';

.pzAbout {
  padding-top: 4.5vmax;
  padding-bottom: 4.5vmax;

  &__about-section {
    padding-bottom: 30px;

    &-title {
      font-size: 30px;
      padding-bottom: 20px;
    }

    &-content {
      font-size: 20px;
      font-weight: lighter;
      text-align: justify;
    }
  }

  &__contact-form {
    &-title {
      font-size: 30px;
      padding-bottom: 20px;
    }

    &-submit-button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-row {
      margin-bottom: 10px;
    }
  }
}
