@import '../../styles/variables.scss';

.pz-ProjectTile {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  a {
    cursor: pointer;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $cl-white;
  }

  &__image-overlay-text {
    color: $cl-primary;
    font-size: $font-size-title;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &:hover &__image-overlay {
    opacity: 0.5;
  }

  &__info {
    padding: 1vh;
    text-align: center;
    text-transform: lowercase;
    font-size: $font-size-medium;
    font-weight: lighter;
  }

  @media all and (min-width: $screen__bp-md *1px) {
    padding: 0 15px;
  }
}
