.pz-ItemTemplate {
  &__Title {
    font-size: 3.5em;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-transform: uppercase;
  }

  &__Field {
    padding-bottom: 2vh;
  }

  &__Field__Label {
    font-size: 1em;
    font-weight: lighter;
  }

  &__Field__Value {
    font-size: 1.5em;
    font-weight: lighter;
    padding-right: 3vh;
  }

  &__Image {
    padding-bottom: 2.5vh;
  }
}
