@import '../styles/variables.scss';

.pz-ItemTemplate {
  &__Title {
    font-size: $font-size-title;
    padding: 20px 40px 20px 0;
    text-transform: uppercase;
  }

  &__Metadata {
    padding-bottom: 40px;
  }

  &__Field {
    padding-bottom: 20px;
  }

  &__Field__Label {
    font-weight: lighter;
  }

  &__Field__Value {
    font-size: $font-size-medium;
    font-weight: lighter;

    &__Description {
      text-align: justify;
      white-space: pre-line;
    }
  }

  &__Image {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;

    cursor: pointer;

    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $cl-white;
    }

    &-overlay-text {
      color: $cl-primary;
      font-size: $font-size-title;
      font-weight: lighter;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &:hover &-overlay {
      opacity: 0.5;
    }
  }
}
