// Screen width break points modifier
$screen__bp-sm: 360;
$screen__bp-md: 600;
$screen__bp-lg: 992;
$screen__bp-xl: 1200;

// Fonts
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 14px;

// Colors
$cl-primary: #333333;
$cl-primary-light: #757575;
$cl-white: #ffffff;
$cl-black: #000000;
