@import '../../styles/variables.scss';

body {
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;

  font: normal $font-size-base $font-family-base;
  color: $cl-primary;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $cl-white inset;
  }
}

a {
  text-decoration: none;
  color: $cl-primary;

  &:hover {
    cursor: pointer;
    color: $cl-primary-light;
  }
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}
