.pz-HeaderRow {
  align-items: flex-end;

  font-size: 25px;
  font-weight: lighter;

  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
  }

  &__nav-item {
    margin-right: 1.5vw;
  }

  &__about {
    display: flex;
    justify-content: flex-end;
  }
}
