.pz-HeaderRow {
  align-items: center;

  font-size: 25px;
  font-weight: lighter;

  &__logo {
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
  }

  &__nav-item {
    margin-right: 1.5vw;
  }

  &__about {
    display: flex;
    justify-content: flex-end;
  }
}
