@import '../../styles/variables.scss';

.pz-FooterRow {
  height: $footer-height;
  font-size: $font-size-medium;
  font-weight: lighter;
  align-content: center;
  margin-bottom: 50px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }

  &__social-media-link {
    padding-left: 10px;
  }
}

// Larger than md navbar
@media all and (min-width: $screen__bp-md *1px) {
  .pz-FooterRow {
    &__info {
      align-items: flex-start;
      order: 1;
    }

    &__social-media {
      align-items: flex-end;
      order: 2;
    }
  }
}
