@import '../../styles/variables.scss';

.pz-FooterRow {
  min-height: 5vh;

  font-size: 2.5vh;
  font-weight: lighter;
  align-content: flex-start;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vh;
    order: 2;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vh;
    order: 1;
  }

  &__social-media-link {
    padding-left: 10px;
  }
}

// Larger than md navbar
@media all and (min-width: $screen__bp-md *1px) {
  .pz-FooterRow {
    &__info {
      align-items: flex-start;
      order: 1;
    }

    &__social-media {
      align-items: flex-end;
      order: 2;
    }
  }
}
