@import '../../styles/variables.scss';

.pz-Page__back-to-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &-icon {
    position: fixed;
    z-index: 99;
    cursor: pointer;
  }
}
